{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}

    {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Prueba Técnica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href='{{ path('product')}}'>Productos</a>
                    <a class="nav-link" href='{{ path('category')}}'>Categorias</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Salir</a>
                </div>
            </div>
            </nav>    
    {% endblock %}

    {% block content %}

    {% endblock %}


{% endblock %}
